@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: poke;
    src: url(font/Pokemon\ Hollow.ttf);
}

* {
    margin: 0;
    background-color: black;
    color: yellow;
    font-family: 'Roboto', sans-serif;
}

.choices {
    display: flex;
    flex-direction: row;
}

.user_choices, .comp_choices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem;
}

input {
    max-height: 200px;
    max-width: fit-content;
    background-color: black;
    transition: all 0.2s ease-in-out;
    margin: 1rem;
}

img {
    max-height: 200px;
    max-width: fit-content;
}

.elements {
    display: flex;
    align-items: center;
    flex: 2 1 auto;
    justify-content: space-around;
}

.elements img {
    max-height: 8rem;
}

.display_results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1.5rem;
}

#squirtle {
    transform: scaleX(-1);
}

#comp_bulbasaur {
    transform: scaleX(-1);
}

#comp_charmander {
    transform: scaleX(-1);
}

input:hover {
    transform: scale(1.2);
}

.player_points img, .computer_points img {
    max-width: 4rem;
    margin-bottom: 2rem;
    opacity: 20%;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: .5rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

span {
    font-family: poke;
}

h3 {
    font-size: 3rem;
    font-family: poke;
    -webkit-text-fill-color: yellow;
    text-align: center;
}

footer {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
